.App {
  /** text-align left makes all inner divs line up at left of screen */
  text-align: left;
  margin: 2em;
}

.App-link {
  color: #61dafb;
}

.roundedItem {
  /* 10px border-radius makes div have rounded corners */
  border-radius: 10px;
  /* display inline-block makes individual divs wrap as you resize the window */
  display: inline-block;
  background-color: #aa2c34;
  color: #ffffff;
  font-size: calc(14px + 2vmin);
  margin: 0.5em;
  padding: 0.5em;
  white-space: nowrap;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
